.container
  .bs-docs-section
    .row
      .col-sm-12
        .page-header
          %h3 Modificar tipo de producto

    = render 'form'
    
    = link_to 'Volver atrás', product_types_path(:category_id=>@category_id), :class=>'btn btn-danger'

