.container
  .bs-docs-section
    .row
      .col-sm-12
        .page-header
          %h3 Nuevo tipo de producto

    = render 'form'

    = link_to 'Volver a la lista de tipos de productos', product_types_path(:category_id=>@category_id), :class=>'btn btn-danger'
