.container
  .bs-docs-section
    .row
      .col-sm-12
        .page-header
          %h3 Nueva tienda

    = render 'form'

    = link_to 'Volver a la lista de tiendas', image_homes_path, :class=>'btn btn-danger'
