.container
  .bs-docs-section
    .row
      .col-sm-12
        .page-header
          %h2 Configuración de zona Outlet

    = render 'form'

    = link_to 'Volver al índice', administracion_path, :class=>'btn btn-danger'