.flexslider
  %ul.slides
    -@products.each do |product|
      %li
        = image_tag product.image
        .carousel-caption_sale
          Rebajado
        .carousel-caption
          %h4
            %b
              =product.name
          %p
            =product.description