.flexslider
  %ul.slides
    -@products.each do |product|
      %li
        = image_tag product.image
        .carousel-caption
          %h4
            =product.name
          %p
            =product.description