.flexslider
  %ul.slides
    -if !@products.nil?
      -@products.each do |product|
        %li
          = image_tag product.image(:original)
          - if product.sale == 1 && product.new_collection != 1
            .carousel-caption_sale
              %b Rebajado
          - if show_product_in_promotion product
            .carousel-caption_sale
              En promoción
          .carousel-caption
            %h4
              %b=product.name
            %p
              %h4=product.description