.container
  .page-header
    .row
      .col-sm-6
        %h1.font_toxo Toxo piel
        %p
          %h5
            Venta de artículos de viaje, bolsos señora y
          %h5
            caballero, billeteras, cinturones, pashminas y regalo en general.

        %p
          = link_to image_tag('facebook-logo.jpg'), 'https://www.facebook.com/toxosantiago', :target => '_blank'

      .col-sm-6
        .flexslider
          %ul.slides
            %li=image_tag 'vigo-portada.png', :size=>'200x170'
            %li=image_tag 'area.png', :size=>'200x170'
            %li=image_tag 'xeral-portada.png', :size=>'200x170'
