.container
  .row
    .col-sm-2
      %h1.font_toxo Toxo
    .col-sm-1.alineacion_facebook
      = link_to image_tag('facebook-logo.jpg', :size=>'20x20'), 'https://www.facebook.com/toxosantiago', :target => '_blank'
          
    .col-sm-9
      .alineacion_menu
        = render 'menu'
      
    