.bs-docs-section
  .row
    .col-sm-12
      .well-sm
        %p#pepaxina
          
          =link_to 'Visítanos en Santiago de Compostela y Vigo', contacto_path, :class=>'color_outlet'
          |
          Copyrigth © Toxo

= javascript_include_tag "cookie" 