.bs-docs-section.clearfix
  .row
    .col-sm-12
      .well-sm
        %p
          Copyrigth © Toxo Piel
        %p
          =link_to 'Visítanos en Santiago de Compostela y Vigo', contacto_path, :class=>'color_outlet'