.container
  .page-header
    %h1 Toxo Piel
    
  = render 'menu'

  .well
    .bs-component
      .row
        .col-lg-6
          .alert.alert-dismissable.alert-success
            %p
              General Pardiñas, 23 - 15701 Santiago de Compostela
            %p
              Tel.: 981 56 39 88 - Fax: 981 55 72 08
        .col-lg-6
          .alert.alert-dismissable.alert-success
            %p
              Área Central, L-18-G - 15707 Santiago de Compostela
            %p
              Tel.: 981 57 08 56 - Fax: 981 58 18 39
      .row
        .col-lg-6
          .alert.alert-dismissable.alert-success
            %p
              García Barbón, 21 - 36201 Vigo
            %p
              Tel.: 986 22 07 14 - Fax: 986 22 79 23