.container
  =render 'header'
    
  = render 'menu'

  .well
    .bs-component
      .row
        .col-sm-6
          .alert.alert-dismissable.alert-success
            =link_to 'https://maps.google.com/maps?q=General+Pardi%C3%B1as,+23+santiago+de+compostela&hl=en&ie=UTF8&ll=42.874347,-8.546235&spn=0.002205,0.004935&sll=42.876341,-8.545647&sspn=0.008822,0.019741&hq=General&hnear=R%C3%BAa+do+Xeneral+Pardi%C3%B1as,+23,+15701+Santiago+de+Compostela,+La+Coru%C3%B1a,+Spain&t=m&fll=42.874203,-8.545877&fspn=0.002205,0.004935&z=18&layer=c&cbll=42.874347,-8.546235&panoid=I_5Asv5inguNe8rOXxoYZA&cbp=12,106.03,,0,-3.52', :target => '_blank' do
              =image_tag 'xeral.png', :size=>'370x200'
            %p
              General Pardiñas, 23 - 15701 Santiago de Compostela
            %p
              Tel.: 981 56 39 88 - Fax: 981 55 72 08
        .col-sm-6
          .alert.alert-dismissable.alert-success
            =link_to 'https://maps.google.com/maps?q=area+central&hl=en&ll=42.883222,-8.529436&spn=0.002205,0.004935&sll=42.874347,-8.546235&sspn=0.002221,0.004935&t=m&z=18&layer=c&cbll=42.883222,-8.529436&panoid=u1AgMVMrVXGm8kXODNd46Q&cbp=12,113.2,,0,-6.65', :target => '_blank' do
              =image_tag 'area.png', :size=>'370x200'
            %p
              Área Central, L-18-G - 15707 Santiago de Compostela
            %p
              Tel.: 981 57 08 56 - Fax: 981 58 18 39
            
      .row
        .col-sm-6
          .alert.alert-dismissable.alert-success
            = link_to 'https://maps.google.com/maps?q=Avenida+Garc%C3%ADa+Barb%C3%B3n,+21,+Vigo,+Spain&hl=en&ie=UTF8&ll=42.237219,-8.718257&spn=0.004742,0.009871&sll=37.0625,-95.677068&sspn=41.411029,80.859375&oq=Garc%C3%ADa+Barb%C3%B3n,+21&hnear=Av+Garc%C3%ADa+Barb%C3%B3n,+21,+36201+Vigo,+Pontevedra,+Spain&t=m&z=17&layer=c&cbll=42.237219,-8.718257&panoid=FPnWKgfQeSC4ls5gefzwVA&cbp=12,42.03,,0,-1.66', :target => '_blank' do
              =image_tag 'vigo.png', :size=>'370x200'
            %p
              García Barbón, 21 - 36201 Vigo
            %p
              Tel.: 986 22 07 14 - Fax: 986 22 79 23

           
  = render 'pe'