.container
  .page-header
    %h1 Toxo Piel
    
  = render 'menu'

  .well
    .bs-component
      .row
        .col-lg-6
          .alert.alert-dismissable.alert-success
            %p
              Tienda santiago area central
            %p
              Direccion, nº x
            %p
              Santiago de Compostela
        .col-lg-6
          .alert.alert-dismissable.alert-success
            %p
              Tienda santiago xeral pardiñas
            %p
              Direccion, nº x
            %p
              Santiago de Compostela
      .row
        .col-lg-6
          .alert.alert-dismissable.alert-success
            %p
              Tienda vigo
            %p
              Direccion, nº x
            %p
              Santiago de Compostela