.container
  =render 'header_home'

  .row
    .col-sm-12
      .flexslider
        %ul.slides
          %li=image_tag 'xeral-portada.png'
          %li=image_tag 'area.png'
          %li=image_tag 'vigo-portada.png'

  = render 'pe'