
.container
  =render 'header_home'

  .row
    %hr
    .col-sm-3
      .row
        %p
          En
          %b Toxo
          nos dedicamos a la venta de
          %b bolsos de piel, ecopiel y de fibra
          para señora y caballero, artículos de viaje, billeteras, cinturones, pashminas y regalo en general.
        =link_to (image_tag 'toxo_bolsos.jpg'), all_products_path(:anchor=>'toxo_productos')
      .row
        %hr
        %p 
          Busca en
          %b Toxo
          lo último de tus marcas favoritas.
          %b Bolsos de Cats, Venetta, Noco, Axel..., 
          %b maletas de Samsonite 
          y
          %b Rimowa,
          %b paraguas de isotoner 
          y mucho más.
        =link_to (image_tag 'toxo_marcas.png'),our_marks_path(:anchor=>'toxo_marcas')
      
    .col-sm-9
      .flexslider
        %ul.slides
          -@images.each do |image|
            %li
              =image_tag image.image, :size=>'1259x624', :alt=>get_name_image_home(image.name), :title=>get_name_image_home(image.name).concat(' ').concat(get_street_image_home(image.name))
              .carousel-caption
                %h4
                  %b
                    =get_name_image_home(image.name)
                %p
                  =get_street_image_home(image.name)

  = render 'pe'
