
.container
  =render 'header_home'

  .row
    %hr
    .col-sm-3
      .row
        %p
          = @textos.name.html_safe
        =link_to (image_tag @textos.image, :size=>'250x180', :style => "border: 4px solid #772953"), all_products_path(:anchor=>'toxo_productos')
      .row
        %hr
        %p 
          = @textos.description.html_safe
        =link_to (image_tag @textos.second_image),our_marks_path(:anchor=>'toxo_marcas')
      
    .col-sm-9
      .flexslider
        %ul.slides
          -@images.each do |image|
            %li
              =image_tag image.image, :size=>'1259x624', :alt=>get_name_image_home(image.name), :title=>get_name_image_home(image.name).concat(' ').concat(get_street_image_home(image.name))
              .carousel-caption
                %h4
                  %b
                    =get_name_image_home(image.name)
                %p
                  =get_street_image_home(image.name)

  = render 'pe'
