
.container
  =render 'header_home'

  .row
    .col-sm-12
      .flexslider
        %ul.slides
          -@images.each do |image|
            %li
              =image_tag image.image, :size=>'1259x624'
              .carousel-caption
                %h4
                  %b
                    =get_name_image_home(image.name)
                %p
                  =get_street_image_home(image.name)

  = render 'pe'