.container
  .page-header
    %h1 Toxo Piel
    
  = render 'menu'

  .row
    .col-lg-2
      .well
        -Mark.all.order(:priority).each do |mark|
          = link_to productos_path(:mark_id => mark.id) do
            =image_tag mark.image.url(:original)
            %br
            %br
        
    .col-lg-8
      .well
        =render 'gallery'

    .col-lg-2
      .well
        -Mark.all.order(:priority).each do |mark|
          = link_to productos_path(:mark_id => mark.id) do
            =image_tag mark.image.url(:thumb)
            =mark.name
            %br
            %br