.container
  .page-header
    .row
      .col-lg-4
        %h1 Toxo Piel
        %h5
          Venta de artículos de viaje, bolsos señora y caballero, billeteras, cinturones, pashminas y regalo en general.
        

      .col-lg-8
        .flexslider
          %ul.slides
            %li=image_tag 'area-portada.png', :size=>'600x100'
            %li=image_tag 'vigo-portada.png', :size=>'600x100'
            %li=image_tag 'xeral-portada.png', :size=>'600x100'


    
  = render 'menu'

  .row
    .col-lg-2
      .well
        -marcas_posicion_par.each do |mark|
          = link_to productos_path(:mark_id => mark.id) do
            =image_tag mark.image.url(:original)
            %br
            %br
        
    .col-lg-8
      =render 'gallery'


    .col-lg-2
      .well
        -marcas_posicion_impar.each do |mark|
          = link_to productos_path(:mark_id => mark.id) do
            =image_tag mark.image.url(:original)
            %br
            %br

  = render 'pe'