- content_for :meta_title do 'Toxo | Marcas que trabajamos' end
.container
  =render 'header_home'

  
  .well
    .bs-component
      -Mark.all.where('hidden is null or hidden =0').order(:priority).in_groups_of(6).each do |mark_group|
        .row
          .col-sm-12
            .page-header
              .row
                -mark_group.each do |mark|
                  .col-sm-2
                    -if !mark.nil?
                      = link_to productos_path(:mark_id => mark.id, :anchor=>mark.name) do
                        =image_tag mark.image.url(:original), :title=>mark.name, :alt=>mark.name

          

  = render 'pe'