- content_for :meta_title do 'Toxo | Outlet' end
- content_for :meta_description do 'Toxo trabaja una gran variedad de marcas de las que ofrecemos los mejores productos' end
.container
  =render 'header_home'
    
  

  .well
    .bs-component
      .row
        .col-sm-12
          .alert.alert-dismissable.alert-danger
            .row
              .col-sm-10
                %center
                  %h1 OUTLET
            -@products.each do |p|
              .row
                .col-sm-12
                  .alert.alert-dismissable.alert-success
                    .row
                      .col-sm-4.zoom
                        =image_tag p.image.url(:medium), data: { 'zoom-image' => p.image.url}

                      .col-sm-8
                        %h4= p.name
                        %p
                          =p.description
            
  = render 'pe'