.container
  =render 'header'
    
  = render 'menu'

  .well
    .bs-component
      .row
        .col-sm-12
          .alert.alert-dismissable.alert-danger
            .row
              .col-sm-10
                %center
                  %h1 OUTLET
            -@products.each do |p|
              .row
                .col-sm-12
                  .alert.alert-dismissable.alert-success
                    .row
                      .col-sm-4
                        =image_tag p.image.url(:medium)
                      .col-sm-8
                        %h4= p.name
                        %p
                          =p.description
            
  = render 'pe'