.container
  =render 'header'
    
  = render 'menu'

  .well
    .bs-component
      .row
        .col-lg-3
          = render 'list_products'
        .col-lg-9
          = render 'gallery'

  = render 'pe'