.container
  =render 'header_home'
    
  

  .well
    .bs-component
      .row
        .col-sm-3
          %h3 Las rebajas de Toxo
          -list_sales.each do |ls|
            .btn-success.btn-sm
              = link_to  ls[0].name, sales_path(:category_id => ls[0].id), :class=>'color_outlet'
            %ul
              -ls[1].each do |p|
                %li
                  = link_to p.name, sales_path(:product_type_id =>p.id, :category_id => ls[0].id)
        .col-sm-9
          = render 'gallery'

  = render 'pe'