.container
  =render 'header'
    
  = render 'menu'

  .well
    .bs-component
      .row
        .col-sm-3
          %h4 Todas las promociones:
          - @promotions.each do |promo|
            .row
              .btn-xs.panel_products_custom
                %h4= link_to promo.description, show_promotion_path(:promo_catalog => promo.catalog), :class => 'color_outlet'
              %br
        .col-sm-9
          = render 'gallery'

  = render 'pe'