.container
  =render 'header_home'
    
  

  .well
    .bs-component
      .row
        .col-sm-3
          %h4 Alguna de nuestras promociones:
          - @promotions.each do |promo|
            .row
              .btn-xs.panel_products_custom
                %h4= link_to get_text(promo), show_promotion_path(:id => promo.id), :class => 'color_outlet'
              %br
        .col-sm-9
          Estás viendo la promoción
          %b= @promo.description
          = render 'gallery'

  = render 'pe'