.container
  =render 'header'

  = render 'menu'
  .well.font_who_are
    %center
      = image_tag 'foto_antigua.jpg', :size =>'600x420'
    %p
      ============================= Tipo 1: Rochester
    %p
      Toxo, historia viva.
    %p
      La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
    %p
      Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
      Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
      familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are2
      %p
        ============================= Tipo 2: Parisienne
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are3
      %p
        ============================= Tipo 3: Sacramento
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are4
      %p
        ============================= Tipo 4: Lovers Quarrel
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are5
      %p
        ============================= Tipo 5: Petit Formal Script
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are6
      %p
        ============================= Tipo 6: Allura
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.


    .font_who_are7
      %p
        ============================= Tipo 7: Mr De Haviland
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are8
      %p
        ============================= Tipo 8: Grand Hotel
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are9
      %p
        ============================= Tipo 9: Mrs Saint Delafield
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are10
      %p
        ============================= Tipo 10: Dynalight
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are11
      %p
        ============================= Tipo 11: Great Vibes
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are12
      %p
        ============================= Tipo 12: Clicker Script
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are13
      %p
        ============================= Tipo 13: Dancing Script
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are14
      %p
        ============================= Tipo 14: Playball
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are15
      %p
        ============================= Tipo 15: Pinyon Script
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are16
      %p
        ============================= Tipo 16: Damion
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are17
      %p
        ============================= Tipo 17: Cookie
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.

    .font_who_are18
      %p
        ============================= Tipo 18: Italianno
      %p
        Toxo, historia viva.
      %p
        La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
      %p
        Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
        Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
        familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la posguerra.



  = render 'pe'