.container
  =render 'header'

  = render 'menu'
  .well
    %center
      = image_tag 'foto_antigua.jpg', :size =>'600x420'
    %p
      Toxo, historia viva.
    %p
      La familia Tojo, somos la tercera generación de una saga de comerciantes que tienen su origen en Santiago de Compostela.
    %p
      Nuestro primer local comercial, abrió sus puertas en Santiago en el año 1913. Estaba ubicado en la plaza de
      Fonte Sequelo, y fue Julio Tojo Fernández, quien, con su local de zapatos comenzó a escribir la historia de nuestra
      familia y nuestro futuro. Adaptándose a las necesidades de la época, la zapatería fue reconvertida en bazar en la postguerra.

    %p
      En 1971, Manolo Tojo Tie, su hijo, abriría un nuevo comercio en Santiago de Compostela, situado en la calle
      %b General Pardiñas 23,
      dedicado a artículos de viaje y piel. Fue Manolo, quien, haciendo gala a su apellido, decide bautizar la tienda
      con el nombre de
      %b TOXO.

    %p
      En 1993, Manolo y Julio Tojo Romero, sus nietos, ampliamos el negocio familiar con la apertura de
      %b TOXO
      en
      %b Área Central -18-g
      en Santiago. Finalmente, en 1997, emprenderíamos nuestra última aventura inaugurando
      %b TOXO
      en Vigo en la calle
      %i García Barbon, número 21.

    %p
      Con más de 100 años de tradición y tres generaciones de comerciantes, TOXO ya forma parte de la historia viva de
      Santiago de Compostela y Vigo, y no podemos más que mostrar nuestro agradecimiento a todos los que habéis
      contribuido a que esta historia sea posible.

    %p
      Gracias por confiar en nosotros.

  = render 'pe'