/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require loader
 *= require united/bootswatch
 *= require flexslider.css
 *= require bootstrap-datepicker
 *= require jquery.rambling.slider
 */

@import "united/base";
.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
  color:green;
 }
.checkbox_container input {
  display: inline;
 }
.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }

 .proba{
     background-color: #f4dfe4;
}

.color_fondo_pe{
     background-color: #772953;

}

.color_outlet{
    color:white;
}

.font_toxo{
    font-family: 'gourdie_cursiveregular';
    font-size: 90px;
}

.align_right{
    text-align: right;
}

.text_promotion{
    font-size: 60px;
    color: red;
    font-weight: bold;
}

.background_promotion_first{
    background-image: url('oferta.png');
}

.background_promotion_last{
    background-image: url('etiqueta_promocion.jpg');
}

.backgroun_promotion_common{
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding:37px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.background_menu_promotion{
    background-color: red;
}

@font-face {
    font-family: 'gourdie_cursiveregular';
    src: url('fonts/gcursive-webfont.eot');
    src: url('fonts/gcursive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gcursive-webfont.woff') format('woff'),
         url('fonts/gcursive-webfont.ttf') format('truetype'),
         url('fonts/gcursive-webfont.svg#gourdie_cursiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

}