/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require loader
 *= require united/bootswatch
 *= require flexslider.css
 *= require bootstrap-datepicker
 *= require jquery.rambling.slider
 */
@import url(http://fonts.googleapis.com/css?family=Lovers+Quarrel|Parisienne|Petit+Formal+Script|Allura|Mr+De+Haviland|Grand+Hotel|Mrs+Saint+Delafield|Dynalight|Great+Vibes|Clicker+Script|Rochester|Sacramento|Dancing+Script|Playball|Pinyon+Script|Damion|Cookie|Italianno|Herr+Von+Muellerhoff|Calligraffitti);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import "united/base";
.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
  color:green;
 }
.checkbox_container input {
  display: inline;
 }
.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }

 .proba{
     background-color: #f4dfe4;
}

.color_fondo_pe{
     background-color: #772953;

}

.color_outlet{
    color:white;
}

.font_toxo{
    font-family: 'Calligraffitti', cursive;
    font-size: 80px;
}

.align_right{
    text-align: right;
}

.text_promotion{
    font-size: 60px;
    color: #ec0100;
    font-weight: bold;
}

.text_promotion{
    font-size: 60px;
    color: #ec0100;
    font-weight: bold;
}

.backgroun_promotion_common{
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding:37px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.background_menu_promotion_rebajado{
    background-color: #3e152b;
}

.font_who_are{
    font-family: 'Rochester';
    font-size: 25px;
}

.font_who_are2{
    font-family: 'Parisienne';
    font-size: 25px;
}

.font_who_are3{
    font-family: 'Sacramento';
    font-size: 35px;
}

.font_who_are4{
    font-family: 'Lovers Quarrel';
    font-size: 35px;
}

.font_who_are5{
    font-family: 'Petit Formal Script';
    font-size: 20px;
}

.font_who_are6{
    font-family: 'Allura';
    font-size: 35px;
}

.font_who_are7{
    font-family: 'Mr De Haviland';
    font-size: 35px;
}

.font_who_are8{
    font-family: 'Grand Hotel';
    font-size: 25px;
}

.font_who_are9{
    font-family: 'Mrs Saint Delafield';
    font-size: 35px;
}

.font_who_are10{
    font-family: 'Dynalight';
    font-size: 35px;
}

.font_who_are11{
    font-family: 'Great Vibes';
    font-size: 35px;
}

.font_who_are12{
    font-family: 'Clicker Script';
    font-size: 35px;
}

.font_who_are13{
    font-family: 'Dancing Script';
    font-size: 30px;
}

.font_who_are14{
    font-family: 'Playball';
    font-size: 25px;
}

.font_who_are15{
    font-family: 'Pinyon Script';
    font-size: 25px;
}

.font_who_are16{
    font-family: 'Damion';
    font-size: 25px;
}

.font_who_are17{
    font-family: 'Cookie';
    font-size: 25px;
}

.font_who_are18{
    font-family: 'Italianno';
    font-size: 35px;
}

.center_text_promotion{
    text-align: center;
}