.container
  .bs-docs-section
    .row.col-sm-12
      .page-header
        %h1 Toxo Piel
      .bs-component
        .jumbotron
          %h3 Administración
          .row
            .col-sm-6
              .bs-component
                .panel.panel-primary
                  .panel-heading
                    %h3 Categorías
                  =link_to image_tag('icono-categorias.png', :size=>'184x184'), categories_path
            .col-sm-6
              .bs-component
                .panel.panel-primary
                  .panel-heading
                    %h3 Tipos de productos
                  =link_to image_tag('icono-productos.jpg', :size=>'184x184'), product_types_path

          .row
            .col-sm-6
              .bs-component
                .panel.panel-primary
                  .panel-heading
                    %h3 Marcas
                  =link_to image_tag('icono-marcas.png', :size=>'240x184'), marks_path
            .col-sm-6
              .bs-component
                .panel.panel-primary
                  .panel-heading
                    %h3 Productos
                  =link_to image_tag('icono-productos-individuales.jpg', :size=>'244x184'), products_path

          .row
            .col-sm-6
              .bs-component
                .panel.panel-primary
                  .panel-heading
                    %h3 Promociones
                  %center
                    =link_to image_tag('promocions.jpg', :size=>'400x200'), promotions_path
            .col-sm-6
              .bs-component
                .panel.panel-primary
                  .panel-heading
                    %h3 Estadísticas
                  %center
                    =link_to image_tag('estadisticas.jpg', :size=>'300x200'), 'http://www.google.es/intl/es/analytics/', :target=>'_blank'

          .row
            .col-sm-6
              .bs-component
                .panel.panel-primary
                  .panel-heading
                    %h3 Outlet
                  %center
                    =link_to image_tag('Outlet.png', :size=>'400x200'), new_config_outlet_path
  
                    
          .row
            .col-sm-6
              .bs-component
                .panel.panel-danger
                  .panel-heading
                    %h3=link_to 'Fotos de portada', image_homes_path

            .col-sm-6
              .bs-component
                .panel.panel-danger
                  .panel-heading
                    %h3=link_to 'Textos Portada', textos_path