.container
  .bs-docs-section
    .row
      .col-sm-12
        .page-header
          %h3 Nueva categoría

    = render 'form'

    = link_to 'Volver a la lista de categorías', categories_path, :class=>'btn btn-danger'
