.container
  .bs-docs-section
    .row
      .col-sm-12
        .page-header
          %h3 Modificar promoción

    = render 'form'

    = link_to 'Volver atrás', promotions_path, :class=>'btn btn-danger'
