.container
  .col-sm-12
    .page-header
      %h1 Toxo Piel: Promociones
    .bs-component
      .well
        %p
          = link_to 'Crear promoción', new_promotion_path, :class=>'btn btn-primary'
          = link_to 'Volver al índice', administracion_path, :class=>'btn btn-danger'
        %table.table.table-striped.table-hover
          %tr.info
            %th.th
              Descripción
            %th.th
              Empieza
            %th.th
              Acaba
            %th.th
              Acciones
          -@promotions.each do |promo|
            %tr.warning
              %td.td
                = link_to promo.description, edit_promotion_path(promo.id)

              %td.td
                - if !promo.date_start.nil?
                  =promo.date_start.strftime("%d-%m-%Y")
              %td.td
                - if !promo.date_end.nil?
                  =promo.date_end.strftime("%d-%m-%Y")

              %td.td
                = link_to (image_tag 'delete.jpg', :size=>'20x20'), promo, method: :delete, data: { confirm: '¿Está seguro de borrar la promoción?' }

        - if @promotions.empty?
          .alert.alert-dismissable.alert-danger
            %p No se han encontrado promociones

        