.container
  .bs-docs-section
    .row
      .col-sm-12
        .page-header
          %h3 Nueva promoción

    = render 'form'

    = link_to 'Volver a la lista de promociones', promotions_path, :class=>'btn btn-danger'
