.container
  .bs-docs-section
    .row
      .col-sm-12
        .page-header
          %h3 Modificar producto

    = render 'form'

    = link_to 'Volver atrás', products_path(:category_id => @category_id, :product_type_id => @product_type_id, :mark_id => @mark_id), :class=>'btn btn-danger'
