.container
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h3 Nuevo producto

    = render 'form'

    = link_to 'Volver a la lista de productos', products_path(:mark_id=>@mark_id), :class=>'btn btn-danger'
